*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
/build-tools/
/.build-tools/
app/src/main/jniLibs/
app/src/main/assets/
*.apk
*.aab
*.jks
*.keystore
